/* GameCreation.css */
.game-creation-container {
    background: #333;
    width: 50%;
    margin: 15% auto;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(66, 81, 215) 0px 0px 700px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header h1 {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 3px;
  }
  
  .username-input {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .button-create {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  .button-create:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }